.row-bg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0px 10px; 
}
.title{
    color:#262e3c;
   font-size:13px;
   text-align: left;
   font-weight:600;
}
.labels{
    color:black;
    font-size:13px;
    list-style-type:disc;
    
}
.num{
    color:#3a3a3a;
    font-size: 13px;
    text-align: end;
    list-style-type:none;
}
.labels-bg{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
