body::-webkit-scrollbar{
    display: none;
  }


.dropdown {
    font-size: 10px;
    border: none;
    color:#7d828a;
    margin-left: 20px;
    border-radius: 5px;
    height:30px;
    padding:5px;
    margin-top: 0px;
}
.candidate-bg{
    display:flex;
    flex-direction: column;
    margin-left: 20px;
    padding-left:10px;
    width:100%;
    margin-top:20px;
}
.heading-bg{
    display:flex;
    flex-direction:row;
}
.heading-txt{
    color:black;
    font-size: 18px;
    font-weight: 600;
    margin-right:10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.span{
    color:red;
}
.candidate-body{
    display:flex;
    flex-direction:row;
    width:100%;
    margin-top: 10px;
}
.body-bg{
    display:flex;
    flex-direction: column;
    width:20%;
    margin-right:15px;
    height:650px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow:0px 0px 10px 10px #eceef2; ;
}
.head-body{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-left: 10px;
}
.head-txt{
    color:#6e6e6e;
    font-size:13px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.num{
    color:#1f2736;
    font-size:15px;
    font-weight: 600;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.percent{
    color:#333333;
    font-weight: 500;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.percent-num{
    color:#1f2736;
    font-size: 15px;   
    margin-top: 0px;
    margin-bottom: 0px;
}
.arrow-icon{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
}
.candidates-bg {
    display:flex;
    flex-direction: column;
    margin-left:5px;
    margin-top:10px;
    margin-bottom: 0px;
    width:380px;
    overflow: hidden;
}
.scroll-bg{
    display:flex;
    flex-direction: column;
    height:450px;
    width:300px;
    overflow:auto;
    list-style-type:none;
    display: inline;
   
 }
.candidate-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    list-style-type: none;
    border-bottom-width:5px;
    border-bottom-color: #eff1f4;
    box-shadow: 0px  1px#eceef2;
    border-radius: 5px;
   
}
.position {
    color:#9a9a9a;
    font-size:10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.icons {
    padding:5px;
}
.name{
    color:#060606;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
}
.hr-line{
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom-width:5px;
    border-bottom-color: #eff1f4;
    box-shadow: 0px 0px 1px 1px #eceef2;
    border-radius: 5px;
    margin-left: 5px;
    margin-right:10px;
    
}
.pro-pic {
    height:40px;
    width:40px;
    margin-bottom:0px ;
    margin-top: 0px;
    border-radius: 40px; 
}
.input-box{
   border: none;
   background-color:#f6f8f9 ;
   height:50px;
   width:230px;
   margin-top: 10px;
   margin-left: 10px;
}
.input-box-dotted{
    border-style:dashed;
    border-color: grey;
    background-color:#f6f8f9 ;
    height:50px;
    width:230px;
    margin-top: 15px;
    margin-left: 10px;
   
 }
 #shortlist::placeholder{
    text-align: center;
    color: #060606;
   
 }
 ::placeholder{
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    color:#060606;
    justify-content: flex-start;
 }
.droppable-bg{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

