.bg {
  display: flex;
  flex-direction: column;
  background-color:#eff1f4;
  height: 100%;   
}

.body-container {
  display: flex;
  flex-direction:row;
  width:100%;
}

.left-container {
  display: flex;
  flex-direction: column;
  width:20%;
  align-items: flex-start;
}

.middle-container {
  display: flex;
  flex-direction: column;
  width:80%;
  margin-left: 10px;
  
}

